################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HRMS Application/FileContentIndex/05104c75-1bbb-4b65-98dd-0b010b5fbd9e.vsidx
/.vs/HRMS Application/FileContentIndex/85fffd5a-67d6-42c7-916c-91f1b976d31e.vsidx
